<div class="row">
  <div class="col-md-6">
    <div class="card text-center">
    <%= image_tag("keyboard.jpg", alt: "typewriter", class: "card-img-top", style: "height: 150px;") %>
      <div class="card-body">
        <h3 class="card-title">Blog</h3>
        <a href="#" class="btn">Read my blog</a>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card text-center">
     <%= image_tag("files.jpg", alt: "antique card catalog", class: "card-img-top", style: "height: 150px;") %>
      <div class="card-body">
        <h3 class="card-title">Portfolio</h3>
        <a href="#" class="btn">Review my portfolio</a>
      </div>
    </div>
  </div>
</div>